*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header{
    height: 100vh;
    background-image: url(Images/Untitled%20design.png);
    background-position: top;
    background-size: auto;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.header-text{
    max-width: 350px;
    margin-top: 140px;
}
h1{
    font-size: 34px;
    color: #22223b;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #9a8c98;
    margin: 15px 0;
}
.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #4a4e69;
    font-weight: bold;
    cursor: pointer;  
    color: #c9ada7;
}
p{
    font-size: 15px;
    line-height: 18px;
    color: #4a4e69;
    font-family: verdana;
}
.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #9a8c98;
    display: inline-block;
}
.line-2{
    width: 15px;
    height: 15px;
    background: #9a8c98;
    display: inline-block;
}
.line-3{
    width: 15px;
    height: 15px;
    background: #9a8c98;
    display: inline-block;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #9a8c98;
    z-index: 2;
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}


/*----about----*/

#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;  
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*----types----*/

#types{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.types-left-col{
    flex-basis: 50%;
    text-align: left;
}
.types-right-col{
    flex-basis: 50%;
}
.types-right-col img{
    width: 100%;
}
.types-text{
    max-width: 500px;
    margin-left: 100px;
    display: inline-block;
}
.types-text h4{
    font-style: italic;
}

/*----platforms----*/

#platforms{
    padding-top: 50px;
    padding-bottom: 50px;
}

.platforms-row-1{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.platforms-col{
    flex-basis: 25%;
    text-align: center;
}

.platforms-col img{
    width: 100px; 
}

.platforms-text h2{
    text-align: center;
    margin-bottom: 50px;
}

/*----audience----*/

#audience{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.audience-left-col{
    flex-basis: 50%;
}
.audience-left-col img{
    width: 100%;
}
.audience-right-col{
    flex-basis: 50%;
    text-align: right;  
}
.audience-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*----needs----*/

#needs{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.needs-left-col{
    flex-basis: 50%;
    text-align: left;
}
.needs-right-col{
    flex-basis: 50%;
}
.needs-right-col img{
    width: 100%;
}
.needs-text{
    max-width: 500px;
    margin-left: 100px;
    display: inline-block;
}
.needs-text h4{
    font-style: italic;
}

/*----character----*/

#character{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.character-left-col{
    flex-basis: 50%;
}
.character-left-col img{
    width: 100%;
}
.character-right-col{
    flex-basis: 50%;
      
}
.character-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*----journey----*/

#journey{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.journey-left-col{
    flex-basis: 50%;
    text-align: left;
}
.journey-right-col{
    flex-basis: 50%;
}
.journey-right-col img{
    width: 100%;
}
.journey-text{
    max-width: 500px;
    margin-left: 100px;
    display: inline-block;
}
.journey-text h4{
    font-style: italic;
}

/*----footer----*/

#footer{
    padding: 50px 0 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #22223b;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 45%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 40%;
    margin-top: 60px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    color: #22223b;
    margin-bottom: 5px;
}
.link-title small{
    font-size: 13px;
    color: #9a8c98;
}


@media only screen and (max-width: 770px){
    #header{
        background-image: none;
    }
    .container{
    margin-right: 50px;
    margin-left: 50px;
    }
    .header-text{
    margin-top: 100px;
    }
    h1{
    font-size: 25px;
    color: #22223b;
    }
    #menuBtn{
    width: 40px;
    right: 50px;
    }
    .common-btn{
    padding: 10px 16px;
    }
    .about-left-col,.about-right-col{
    flex-basis: 100%;
    }
    .about-text{
    margin: 50px 50px 0;
    display: inline-block;
    }
    .platforms-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .audience-left-col{
    flex-basis: 100%;
    }
    .audience-right-col{
    flex-basis: 100%;
    margin-top: 70px;
    }
    .footer-left-col,.footer-right-col{
    flex-basis: 100%;
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 30px;
    }
}






